
    <div class="bg--dark-gray align--center pt3 pb3">
        <div class="container pt2 pb2">
            <a class="btn btn--secondary mr1" href="https://docs.meadowrun.io/en/stable/tutorial/install/">Get started</a>
            <a class="btn btn--secondary ml1" href="https://github.com/meadowdata/meadowrun">Github</a>
        </div>
        <div class="container">
            <p class="text--white">Get in touch! <a href="https://gitter.im/meadowdata/meadowrun" class="link--on-dark">Join the chat on Gitter</a> or <a href="mailto:contact@meadowdata.io" class="link--on-dark">email us</a></p>
        </div>
    </div>

    <!-- Scroll reveal -->
    <script src="https://unpkg.com/scrollreveal@4.0.0/dist/scrollreveal.min.js"></script>

    <!-- The compiled JavaScript file -->
    <script src="js/production.js"></script>

    </body>
</html>
