<!doctype html>
<html lang="en-us">

    <head>

        <!-- Meta -->
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Meadowrun</title>
        <meta name="description" content="">

        <!-- The compiled CSS file -->
        <link rel="stylesheet" href="css/production.css">

        <!-- Web fonts -->
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400i,700|Source+Serif+Pro:700" rel="stylesheet">

        <!-- favicon.ico. Place these in the root directory. -->
        <link rel="shortcut icon" href="favicon.ico">

        <!-- Google Analytics tag -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-32RKXJKXDW"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'G-32RKXJKXDW');
        </script>
    </head>

    <body class="has-animations">

        <!-- Header -->
        <header class="align--center pt3">
            <div class="container--lg border--bottom pb3 ">
                <h1 class="logo"><a href="/" class="logo"><span class="logo-bracket">[</span>meadowrun<span class="logo-bracket">]</span></a></h1>
                @@if (tagline) {
                    <h2><span class="line">Develop locally,</span> <span class="line"> run on the cloud</span></h2>
                    <p class="mb2 ml2 mr2">Tired of waiting for results? Feel confined to your
                    laptop? Building containers slowing you down on every code change? Meadowrun
                    not only runs your Python jobs on the cloud without hassle, it
                    automatically synchronizes your code and environment to cloud machines,
                    letting you iterate quickly and freely. Develop locally like you’re used to,
                    with the power of the cloud at your fingertips.</p>
                }
                <span>
                    <a class="btn btn--secondary mr1" href="https://docs.meadowrun.io/en/stable/tutorial/install/">Get started</a>
                    <a class="btn btn--secondary-border ml1" href="https://github.com/meadowdata/meadowrun">Github</a>
                </span>
            </div>
        </header>